services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    expose:
      - 5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
  
  bot:
    build:
      context: .
      dockerfile: ./Dockerfile
    command: pnpm start
    restart: always
    env_file:
      - .env
    depends_on:
      - db
      - voice_vox
  
  voice_vox:
    image: voicevox/voicevox_engine:cpu-ubuntu20.04-latest
    expose:
      - 50021
    tty: true


volumes:
  postgres-data: