services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
  
  bot:
    build:
      context: .
      dockerfile: ./Dockerfile
    command: pnpm start
    restart: always
    env_file:
      - .env
    depends_on:
      - db


volumes:
  postgres-data: